# Ignore Gradle project-specific cache directory
.gradle
.vscode
# Ignore Gradle binary output directory
bin
# Ignore Gradle build output directory
build

# Ignore environment variable file
.env
# Ignore database file
bot.db
app/src/main/resources
app/bin/main/schema.sql


# Ignore logs files for debug
logs

