# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle binary output directory
bin
# Ignore Gradle build output directory
build

# Ignore environment variable file
.env
# Ignore database file
bot.db
app/src/main/resources
app/bin/main/schema.sql
